@font-face {
    font-family: "SHS-S";
    src: url("../fonts/SourceHanSerifSC-SemiBold.otf");
}

@font-face {
    font-family: "SHS-H";
    src: url("../fonts/SourceHanSerifSC-Heavy.otf");
}

@font-face {
    font-family: "nianzhen";
    src: url("../fonts/造字工房念真体.otf");
}

@font-face {
    font-family: "Audimat Mono";
    src: url("../fonts/AUDIMRG.TTF");
}

body {
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    letter-spacing: .05rem;
}

body, th, td, input, select, textarea, button, a {
    font-family: "SHS-S", sans-serif;
    color: #555;
    font-size: 1.5rem;
}

.clear {
    clear: both;
}

.container {
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 850px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 730px;
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    .container {
        width: 620px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }
}

main {
    margin: 15px 0 3% 0;
}

/*top*/
.top {
    width: 100%;
    padding-bottom: 1.5%;
    background-color: #fff;
    box-shadow: 0 2px 4px #ccc;
}

@media screen and (max-width: 640px) {
    .top {
        background-color: #f5f4e7;
    }
}

/*logo*/
.logo {
    position: relative;
    width: 150px;
    padding: 2% 0;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .logo {
        padding: 1.5% 0;
        transform: scale(.8);
    }
}

@media screen and (max-width: 767px) {
    .logo {
        padding: 1% 0;
        transform: scale(.7);
    }
}

@media screen and (max-width: 640px) {
    .logo {
        padding: 0;
        transform: scale(.6);
    }
}

@media screen and (max-width: 480px) {
    .logo {
        margin: -1.5% auto;
        transform: scale(.5);
    }
}

@media screen and (max-width: 420px) {
    .logo {
        margin: -2% auto;
    }
}

/*end logo*/

/*search*/
.search-bar {
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 70%;
}

.search-input {
    display: none;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 110px 0 15px;
    background-color: #fff;
    color: #000;
    border: 3px solid red;
    border-radius: 12px;
    background-color:cornsilk;
}

.btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 38px;
    background-color: transparent;
    transition: all .3s;
}

.btn-hexagon-search, .btn-hexagon-user {
    position: relative;
    display: block;
    width: 22px;
    height: 38px;
    line-height: 35px;
    margin: 0 auto;
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
}

.btn-hexagon-search {
    background-color: #e3ce07;
}

.btn-hexagon-search:before, .btn-hexagon-user:before {
    position: absolute;
    top: 0;
    left: -22px;
    content: "";
    width: 0;
    height: 0;
}

.btn-hexagon-search:after, .btn-hexagon-user:after {
    position: absolute;
    top: 0;
    right: -22px;
    content: "";
    width: 0;
    height: 0;
}

.btn-hexagon-search:before {
    border-top: 19px solid transparent;
    border-right: 11px solid #e3ce07;
    border-bottom: 19px solid transparent;
    border-left: 11px solid transparent;
}

.btn-hexagon-search:after {
    border-top: 19px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 11px solid #e3ce07;
}

@media screen and (max-width: 640px) {
    .btn-search {
        right: 15px;
    }
}

.search-close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    padding: 5px;
    background-color: #e3ce07;
    border-radius: 8px;
}

.search-close span {
    text-align: center;
    display: block;
    width: 24px;
    height: 2px;
    left: 2px;
    font-weight: 10000;
    background-color: #fff;
}

.search-close span:nth-child(1) {
    position: relative;
    top: 1px;
    transform: rotate(45deg);
}

.search-close span:nth-child(2) {
    position: relative;
    bottom: 1px;
    transform: rotate(-45deg);
}