.editor {
  margin-top: 90px;
  left: 30px;
  width: 70%;
  height: 10px;
  position: relative;
  z-index: 1001;
}

.post-btn {
    font-size: 16;
    position: relative;
    top: 20px;
    left: 920px;
    padding: 5px 10px;
    cursor: pointer;
    background-color:rgb(211, 184, 143);
    color: #fff;
    border-radius: 12px;
    width: 70px;
    height: 36px;
}

